<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>CostApp</title>

    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/creative.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="/static/css/main.css" rel="stylesheet">

</head>

<body class="bg-light">

    <div class="py-5 text-center">
        <a href="/">
            <!-- <img class="d-block mx-auto mb-4" src="/static/bootstrap-solid.svg" alt="" width="72" height="72" href="/"> -->
        </a>
        <h2>Welcome to the Costab search engine</h2>
        <p class="lead">powered by Baffa </p>
    </div>

    <div class="container col-md-6">
        <form action="/search" method="get">
            <div class="p-2 bg-light rounded rounded-pill shadow-lg mb-4">
                <div class="input-group">
                    <input name="q" type="search" placeholder="Type your search here" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                    <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <input class="btn btn-primary" type="submit" value="Search">
            </div>
        </form>
    </div>

    <div class="container-fluid">

    </div>

    <hr class="mb-4">

    <div class="container">
        <div class="table table-striped">

            <table class="table">
                <thead>
                    {%- for column in columns %}
                    <th>{{ column }}</th>
                    {%- endfor %}
                </thead>

                <tbody>
                    {%- for row in items %}
                    <tr>
                        {%- for column in columns %}
                        <td>{{ row.get(column) }}</td>
                        {%- endfor %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>

        </div>
    </div>

</body>

</html>